<%- include("partials/header"); -%>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <h1><%=title%></h1><a href="/edit/<%=id%>"><i class='fas fa-edit'></i></a>
  <p><%=content%></p>

<%- include("partials/footer"); -%>
